.flex-container {
    display: flex;
    flex-direction: row;
    background-color: bisque;
    justify-content: space-evenly;
}

.img-container {
    width: 100px;
    height: 100px;
    background-color: black;
}