/* Google Section */

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.search-box {
    padding: 10px 10px;
    width: 30%;
    border-radius: 20px;
    border-style: solid;
    border-color: transparent;
    box-shadow: 0px 0px 8px #3334;
    transition: box-shadow 0.25s, outline 3.25s;
    margin: 20px 10px;
}

.search-box:hover {
    box-shadow: 0px 0px 8px #333A;
}

.search-box:focus {
    outline: 1px solid #AAA;
}


/* Twitter Section  */

.twitter-texting {
    margin: 20px 10px;
}

.twitter-tweetbox-pfp {
    width: 48px;
    border-radius: 50%;
    vertical-align: middle;
    box-shadow: 0px 0px 0px 2px black;
}

.twitter-tweetbox {
    border-style: none;
    text-align: left;
    height: 32px;
}

.twitter-tweetbox:hover {
    outline: 1px solid #AAA;
}

.twitter-tweet {
    font-weight: bold;
    font-size: 1rem;
    color: white;
    background-color: rgb(94, 146, 237);
    border-style: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.twitter-tweet:hover {
    box-shadow: 0px 0px 10px 1px #AAA;
    background-color: rgb(77, 128, 217);
}
